{% assign math_enabled = false %}
{% if page.mathjax %}
  {% assign math_enabled = true %}
{% elsif page.layout == "post" and site.mathjax.enable %}
  {% assign math_enabled = true %}
{% endif %}
{% if math_enabled %}
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    },
    options: {
      renderActions: {
        addMenu: []
      }
    }
  };
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}
